
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');


body, html {
    font-family: 'Ubuntu', sans-serif;
	width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(24, 20, 1);
}

.navbar {
	background-color: transparent;
	padding: 30px 10px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	max-width: 1366px;
	z-index: 99;
}

.navbar a {
    float: left;
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	line-height: 25px;
	padding: 12px;
    z-index: 1;
}

.navbar .logo {
	font-size: 35px;
	font-weight: bold;
	text-transform: uppercase;
}

.navbar-right a:hover {
	color: rgb(85, 255, 85);
}

.navbar-right a.active {
	color: rgb(112, 253, 112);
}

.navbar-right a {
	transition: color 0.5s ease;
}

.navbar-right {
	float: right;
}

.navbar .icon {
	display: none;
}

.slideshow-container {
	position: relative;
	height: 100%;
}

.slide-item {
	display: none;
}

.wrapper {
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    display: grid ;
    grid-gap: 50px;
    margin-right: 10%;
    margin-left: 10%;
    height: 60%;
    justify-content: space-around;
    z-index: 1;
}

.card {
    width: 250px;
    height: 340px;
    padding: 2rem 1rem;
    border-radius: 20px;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transform: 0.1s ease-in;
    
}

.card:hover{
   transform: translateY(20px); 
}

.card:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(150,201,61,1));
    z-index: 2;
    text-replace: 0.1s all;
    opacity: 0;
}

.card:hover:before {
    opacity: 1;
    border-radius: 20px;
}

.card img{
    border-radius: 20px;
    width: 100%;
    height: 100%;

    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card .info {
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;

}

.card:hover .info {
    opacity: 1;
    transform: translateY(0px);
}

.card .info h1 {
    margin: 0;
    font-size: 25px;
}

.card .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;

}

span {
    color: rgb(255, 255, 255);
    background-color: rgb(54, 151, 16);
    line-height: 1.5em;
    width: 100;
    position: relative;
    display: inline-block;
    padding: 0 6px;
    margin-top: 10%;
    border-radius: 5px;
    margin: 0%;
    justify-content: center;
}

@media screen and (max-width: 600px) {
	.navbar {
		padding: 10px;
	}
	
	.navbar .menu {
		display: none;
	}

	.navbar .icon {
		display: block;
		position: absolute;
		top: 13px;
		right: 13px;
	}

	.navbar.show {
		background: black;
	}

	.navbar.show .menu {
		display: block;
		width: 100%;
	}

	.navbar.show .menu a {
		width: 100%;
	}

    .wrapper {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto ;
        display: grid ;
        grid-gap: 20px;
        margin-right: 5%;
        margin-left: 5%;
        height: 60%;
        justify-content: center;
        z-index: 1;
    }


.card {
    width: 180px;
    height: 240px;
    padding: 2rem 1rem;
    border-radius: 20px;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transform: 0.1s ease-in;
    
}

.card .info h1 {
    margin: 0;
    font-size: 20px;
}

.card .info p {
    letter-spacing: 1px;
    font-size: 10px;
    margin-top: 8px;
    margin-bottom: 15px;

}

span {
    font-size: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(54, 151, 16);
    line-height: 1.5em;
    width: 100;
    position: relative;
    display: inline-block;
    padding: 0 6px;
    margin-top: 10%;
    border-radius: 5px;
    margin: 0%;
    justify-content: center;
}

}



